@media (max-width: 367px) {
    body {
        padding-top: 44px;
    }
}

@media (min-width:368px) and (max-width: 480px) {
    body {
        padding-top: 48px;
    }
}

@media (min-width:481px) {
    body {
        padding-top: 50px;
    }
}

iframe {
    overflow: hidden;
    border: none;
}
.navbar .bi {
    margin-right: .25rem;
    font-size: 1rem;
}
#home .navbar, #help .navbar {
    background: linear-gradient(145deg,  #375ee3 0%,  #6543e0 80%);
}
#home .navbar-brand .nav-link, #help .navbar-brand .nav-link {
    display: inline-block;
    margin-right: -30px;
}
#home {
    padding-top: 0;
}
#home .btn {
    padding: .5rem .9rem;
}
.bs-docs-section {
    margin-top: 4em;
}
.bs-docs-section .page-header h1 {
    padding: 2rem 0;
    font-size: 3rem;
}
.dropdown-menu.show[aria-labelledby=themes] {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
}
.dropdown-menu.show[aria-labelledby=themes] .dropdown-item {
    width: 33.333333%}
.dropdown-menu.show[aria-labelledby=themes] .dropdown-item:first-child {
    width: 100%}
.bs-component {
    position: relative;
}
.bs-component+.bs-component {
    margin-top: 1rem;
}
.bs-component .card {
    margin-bottom: 1rem;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
.source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    display: none;
    font-weight: 700;
}
.source-button i {
    pointer-events: none;
}
.source-button:hover {
    cursor: pointer;
}
.bs-component:hover .source-button {
    display: block;
}
#source-modal pre {
    max-height: calc(100vh - 11rem);
}
.progress {
    margin-bottom: 10px;
}
#footer {
    margin: 5em 0;
}
#footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}
#footer p {
    margin-bottom: 0;
    clear: left;
}
.splash {
    position: relative;
    padding: 12em 0 6em;
    color: #fff;
    text-align: center;
    background-color: #375ee3;
    background-image: url("../img/splash.svg"), linear-gradient(145deg,  #375ee3 0%,  #6543e0 80%);
    background-repeat: no-repeat;
    background-size: cover;
}
.splash .logo {
    width: 160px;
}
.splash h1 {
    font-size: 3em;
    color: #fff;
}
.splash #social {
    margin: 2em 0 3em;
}
.splash .alert {
    margin: 2em 0;
    border: none;
}
.splash .sponsor a {
    color: #fff;
}
.section-tout {
    padding: 6em 0 1em;
    text-align: center;
    background-color: #eaf1f1;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.section-tout .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem;
    font-size: 2rem;
    line-height: 1;
    color: rgba(255, 255, 255, .9);
    background: linear-gradient(145deg,  #375ee3 0%,  #6543e0 80%);
    border-radius: 50%}
.section-tout p {
    margin-bottom: 5em;
}
.section-preview {
    padding: 4em 0;
}
.section-preview .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1;
}
.section-preview .preview .image {
    position: relative;
}
.section-preview .preview .image img {
    width: 100%;
    height: auto;
}
.section-preview .preview .options {
    padding: 2em;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .125);
}
.section-preview .preview .options p {
    margin-bottom: 2em;
}
.section-preview .dropdown-menu {
    text-align: left;
}
.section-preview .lead {
    margin-bottom: 2em;
}
.sponsor a {
    text-decoration: none;
}
.sponsor #carbonads {
    max-width: 240px;
    margin: 0 auto;
}
.sponsor .carbon-text {
    display: block;
    margin-top: 1em;
    font-size: 12px;
}
.sponsor .carbon-poweredby {
    float: right;
    margin-top: 1em;
    font-size: 10px;
}
[data-bs-theme=dark] .section-tout {
    background-color: #111;
}
[data-bs-theme=dark] .section-preview .preview {
    background-color: #2b3036;
}
@media(max-width: 767px) {
    .splash {
    padding-top: 8em;
}
.splash .logo {
    width: 100px;
}
.splash h1 {
    font-size: 2em;
}
#banner {
    margin-bottom: 2em;
    text-align: center;
}
}@media(min-width: 992px) {
    .navbar-transparent {
    background: none !important;
}
}.bs-component>.btn, .bs-component>.btn-toolbar>.btn-group, .bs-component>.btn-group, #home .section-preview .card .btn-group {
    margin-bottom: .25rem;
}

section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}

.section-title p {
  font-size: 15px;
  margin-bottom: 10px;
}

.navbar-brand {
    padding-bottom: 0px;
}

.navbar {
    padding: 0 var(--bs-nav-link-padding-x);
}

a, .btn-link, .page-link {
    text-decoration: none;
    color: #159CA0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .active>.page-link, .page-link.active {
    background-color: #159CA0;
}

.nav-pills .nav-link {
    color: #159CA0;
}

.badge {
    background-color: #159CA0;
    padding: 0.4em 0.2em;
}

p {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

a .bi {
    color:black;
}

audio {
    width: 300px;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: #159CA0;
}
